<h2>New Event Listing</h2>
<div>
  <label for="title">Title</label>
  <input type="text" name="title" class="form-control" #newTitle>
  <label for="user">User</label>
  <input type="text" name="user" class="form-control" #newUser>
  <label for="date">Date</label>
  <input type="text" name="date" class="form-control" #newDate>
  <label for="venue">Venue</label>
  <input type="text" name="venue" class="form-control" #newVenue>
  <label for="location">Location</label>
  <input type="text" name="location" class="form-control" #newLocation>
  <br>
  <button class="btn btn-success" (click)="submitForm(newTitle.value, newUser.value, newDate.value, newVenue.value, newLocation.value); newTitle.value=''; newUser.value=''; newDate.value=''; newVenue.value=''; newLocation.value='';">Submit Listing</button>
</div>
<br>
